<!DOCTYPE html>
<html lang="en">
  <head>
    <!--SEO tags-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Teddy bear store">
    <meta name="keywords" content="Teddy, Bear, Teddy Bear">
    <meta name="author" content="Teddy Shop">
    <!--social media tags-->
    <meta property="og:title" content="Teddy Shop">
    <meta property="og:description" content="Teddy bear store">
    <meta property="og:image" content="../favicon.ico">
    <meta property="og:url" content="www.TeddyShop.com">
    <meta property="og:type" content="website">
    <!--Twitter tags-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Teddy Shop">
    <meta name="twitter:description" content="Teddy bear store">
    <meta name="twitter:image" content="../favicon.ico">
    <!--canonical tag-->
    <link rel="canonical" href="www.TeddyShop.com/home">
    <!--link favicon-->
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <!--link css-->
    <link rel="stylesheet" href="../styles/style.css" />
    <!--font link-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet"/>
    <!--Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet"/>

    <title>Teddy Shop</title>
  </head>
  <body id="body">
    <!--main-->
    <main aria-label="Main">
      <!--page loading-->
      <div id="dots" class="dots bg-color position-fixed d-flex justify-content-center align-items-center h-100-vh" aria-label="Loading page">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <!--end page loading-->

      <!--header-->
      <header class="d-flex justify-content-around align-items-center fs-15 h-40 pink-bg-color font-color" id="header" aria-label="Header">
        <p>Hai bisogno di aiuto?</p>
        <p>Ottieni subito uno sconto del 10%:Iscriviti alla newsletter</p>
        <p>Informazioni di consegna</p>
      </header>
      <!--end header-->

      <!--nav-->
      <nav class="d-flex align-items-center justify-content-around h-93 p-1 white-bg-color box-shadow" id="nav" aria-label="Nav">
        <section class="logo-square d-flex align-items-center">
          <section class="logo d-flex">
            <!--logotype-->
            <img src="../favicon.ico" alt="logotype" width="50" height="50" />
            <!--logotype name-->
            <div class="aligned-text d-flex justify-content-between flex-column fst-italic fs-24 font-weight-bold font-color" aria-label="Logotype name">
              <span class="text-start">Teddy</span>
              <span class="text-end">Shop</span>
            </div>
          </section>
          <!--menu button-->
          <i class="bi bi-list cursor-pointer d-none fs-24" aria-label="Menu button"></i>
        </section>
        <!--nav links-->
        <li class="d-flex g-50 fs-18 nav-links" aria-label="Nav links">
          <ul>Home</ul>
          <ul>
            <select class="bg-transparent border-none cursor-pointer fs-18 outline-none">
              <option value="0" selected>Categorie</option>
              <option value="1">Categorie 1</option>
              <option value="2">Categorie 2</option>
              <option value="3">Categorie 3</option>
            </select>
          </ul>
          <ul>Novitá</ul>
          <ul>Marchi</ul>
          <ul>Carte regalo</ul>
          <ul>Chi siamo</ul>
          <ul class="icon"><img src="../img/search.png" alt="Search icon"></ul>
          <ul class="icon"><img src="../img/user.png" alt="User icon"></ul>
          <ul class="icon"><img src="../img/heart-icon.png" alt="Heart icon"></ul>
          <ul class="icon"><img src="../img/shopping-bag.png" alt="Shopping bag"></ul>
        </li>
        <!--button-->
        <button class="nav-links-btn blue-btn-color border-none cursor-pointer white-color fs-16 p-2 w-131 transition br-71 d-flex justify-content-center" title="Acquista ora">
          Acquista ora
        </button>
        <!--mobile icons-->
        <div class="mobile-icons d-none white-bg-color w-100 list-style-none position-fixed bottom-0 flex-row font-color h-50 box-shadow" aria-label="Icons">
          <li class="w-100 d-flex align-items-center justify-content-around">
            <ul><img src="../img/search.png" alt="Search icon"></ul>
            <ul><img src="../img/user.png" alt="User icon"></ul>
            <ul><img src="../img/heart-icon.png" alt="Heart icon"></ul>
            <ul><img src="../img/shopping-bag.png" alt="Shopping bag"></ul>
          </li>
        </div>
      </nav>
      <!--end nav-->

      <!--offer banner-->
      <section class="offer-banner-square d-flex justify-content-center" aria-label="Offer banner">
        <section class="discount-coupon d-flex justify-content-center fs-24 font-weight-bold-500 position-absolute w-100" aria-label="Discount coupon">
          <span class="font-color d-flex align-items-center justify-content-start pl-40 white-bg-color border h-70 w-480  br-60-pers bt box-shadow">"Ecco l'offerta GUND:</span>
          <span class="white-color text-center d-flex align-items-center justify-content-center brown-bg-color border h-70 w-580 br-60-pers m-l box-shadow">40% di sconto dal 20 aprile al 5 maggio!"</span>
        </section>
        <img src="../img/image-1.png" alt="Offer banner image" width="100%" height="auto" class="object-fit-cover"/>
      </section>
      <!--end banner-->

      <!--types of Teddy's-->
      <section class="types-of-teddys-square font-color d-flex align-items-center flex-column bg-color" aria-label="Types of Teddy's">
        <br><br><br>
          <span class="fs-48 font-weight-bold-500">Esplora e trova il tuo preferito su TeddyShop</span>
          <p class="fs-20">"Siamo felici di presentare la nostra varietà di nuovi personaggi di peluche! Scopri la collezione,</p>
          <p class="fs-20">pronta per essere amata, regalata o diventare il tuo nuovo migliore amico”</p>
          <br>
        <section class="cards d-flex w-100 justify-content-evenly g-50 p-10 font-color" aria-label="Types of Teddy's cards">
          <div class="card white-bg-color h-520 w-420 d-flex flex-column white-border br-28 box-shadow">
            <img src="../img/image-2.png" alt="Fantasy Friends image" width="100%" height="355" class="br-28-pers"/>
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <span class="fs-24 font-weight-bold-500">Fantasy Friends</span>
              <p class="fs-16">Collezione di peluche mitici e fantastici:</p>
              <p class="fs-16">Perfetti per sognare ad occhi aperti.</p>
            </div>
          </div>
          <div class="card white-bg-color h-520 w-420 d-flex flex-column white-border br-28 box-shadow">
            <img src="../img/image-3.png" alt="Vintage Treasures image" width="100%" height="355" class="br-28-pers"/>
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <span class="fs-24 font-weight-bold-500">Vintage Treasures</span>
              <p class="fs-16">Collezione retrò, peluche tradizionali e</p>
              <p class="fs-16">storici, per un tocco di nostalgia.</p>
            </div>
          </div>
          <div class="card white-bg-color h-520 w-420 d-flex flex-column white-border br-28 box-shadow">
            <img src="../img/image-4.png" alt="Wild Adventures image" width="100%" height="355" class="br-28-pers"/>
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <span class="fs-24 font-weight-bold-500">Wild Adventures</span>
              <p class="fs-16">In Questa collezione troverai peluche di</p>
              <p class="fs-16">animali esotici per tutti tipi di avventure .</p>
            </div>
          </div>
        </section>
        <br><br><br>
        <section class="spring-square w-570 h-70 white-bg-color d-flex justify-content-center align-items-center border box-shadow br-36">
          <img src="../img/image-5.png" alt="Flower image" width="50" height="50">
          <span class="fs-36 font-color fst-italic">&nbsp;Acquista per la primavera</span>
        </section>
        <br>

      <!--buy Teddy's-->
      <section class="buy-teddys-square font-color d-flex align-items-center justify-content-center flex-column bg-color w-100" aria-label="Buy Teddy's">
        <section class="cards d-flex w-100 justify-content-evenly g-50 p-10 font-color" aria-label="Buy Teddy's cards">
          <div class="card white-bg-color h-375 w-300 d-flex flex-column white-border br-28 box-shadow">
            <img src="../img/image-6.png" alt="Teddy image" width="100%" height="250" class="bg-color br-28"/>
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <span class="fs-20 font-weight-bold-500">Teddy - 10.5 Orso</span>
              <p class="fs-16 d-flex g-10"><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-half border-color"></i><i class="bi bi-star"></i></p>
              <p class="fs-20 font-weight-bold">$24</p>
            </div>
          </div>
          <div class="card white-bg-color h-375 w-300 d-flex flex-column white-border br-28 box-shadow">
            <img src="../img/image-7.png" alt="Trixy image" width="100%" height="250" class="bg-color br-28"/>
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <span class="fs-20 font-weight-bold-500">Trixy - 8.5 Tricerapoto</span>
              <p class="fs-16 d-flex g-10"><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-half border-color"></i><i class="bi bi-star"></i></p>
              <p class="fs-20 font-weight-bold">$30</p>
            </div>
          </div>
          <div class="card white-bg-color h-375 w-300 d-flex flex-column white-border br-28 box-shadow">
            <img src="../img/image-8.png" alt="Bunny image" width="100%" height="250" class="bg-color br-28"/>
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <span class="fs-20 font-weight-bold-500">Bunny - 10.5 Coniglio</span>
              <p class="fs-16 d-flex g-10"><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-half border-color"></i><i class="bi bi-star"></i></p>
              <p class="fs-20 font-weight-bold">$25</p>
            </div>
          </div>
          <div class="card white-bg-color h-375 w-300 d-flex flex-column white-border br-28 box-shadow">
            <img src="../img/image-9.png" alt="Gigi image" width="100%" height="250" class="bg-color br-28"/>
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <span class="fs-20 font-weight-bold-500">Gigi - 12.5 Giraffa</span>
              <p class="fs-16 d-flex g-10"><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-half border-color"></i><i class="bi bi-star"></i></p>
              <p class="fs-20 font-weight-bold">$30</p>
            </div>
          </div>
        </section>
        <br><br>
        <button class="more-items-square brown-bg-color cursor-pointer white-color w-240 h-50 fs-18 font-weight-bold-500 d-flex justify-content-center align-items-center white-border br-29 box-shadow-2 transition">
          Esplora adesso
        </button>
      </section>
      <!--end buy Teddy's-->
      </section>
      <!--end types of Teddy's-->
      <br><br><br>
      <!--about Teddy's-->
      <section class="about-teddys blue-bg-color font-color d-flex justify-content-center align-items-center flex-column" aria-label="About Teddy's">
        <br><br><br>
        <span class="fs-48 d-flex align-items-center"><img src="../img/flower.svg" alt="Flower image">&nbsp;Ecco cosa possiamo fare per te&nbsp;<img src="../img/flower.svg" alt="Flower image"></span>
        <section class="cards d-flex w-100 justify-content-evenly g-50 p-10 font-color" aria-label="About Teddy's cards">
          <div class="card white-bg-color h-200 w-380 d-flex flex-column align-items-center p-2 border br-28 box-shadow">
            <div class="d-flex justify-content-center align-items-center w-50 h-50 br-50 white-bg-color p-20 box-shadow">
            <img src="../img/car.png" alt="Car image" width="30" height="30">
          </div>
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <span class="fs-22 font-weight-bold-500">Spedizioni sicure </span>
              <p class="fs-14">Offriamo consegne rapide per garantirti che</p>
              <p class="fs-14">il tuo peluche arrivi a destinazione</p>
              <p class="fs-14">in perfette condizioni.</p>
            </div>
          </div>
          <div class="card white-bg-color h-200 w-380 d-flex flex-column align-items-center p-2 border br-28 box-shadow">
            <div class="d-flex justify-content-center align-items-center w-50 h-50 br-50 white-bg-color p-20 box-shadow">
            <img src="../img/medal.png" alt="Medal image" width="30" height="30">
          </div>
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <span class="fs-22 font-weight-bold-500">Materiali di qualità</span>
              <p class="fs-14">Siamo impegnati a utilizzare materiali di qualità</p>
              <p class="fs-14">per i nostri peluche, per garantirti un </p>
              <p class="fs-14">prodotto che durerà nel tempo.</p>
            </div>
          </div>
          <div class="card white-bg-color h-200 w-380 d-flex flex-column align-items-center p-2 border br-28 box-shadow">
            <div class="d-flex justify-content-center align-items-center w-50 h-50 br-50 white-bg-color p-20 box-shadow">
            <img src="../img/crown.png" alt="Crown image" width="30" height="30"> 
          </div>
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <span class="fs-22 font-weight-bold-500">Servizio eccellente</span>
              <p class="fs-14">La nostra assistenza clienti è a tua </p>
              <p class="fs-14">disposizione per rispondere a tutte le tue </p>
              <p class="fs-14">domande e risolvere qualsiasi problema.</p>
            </div>
          </div>
        </section>

        <section class="points d-flex g-10" aria-label="Slide points">
          <i class="bi bi-circle-fill fs-10 selected"></i>
          <i class="bi bi-circle-fill fs-10"></i>
          <i class="bi bi-circle-fill fs-10"></i>
          <i class="bi bi-circle-fill fs-10"></i>
          <i class="bi bi-circle-fill fs-10"></i>
        </section>
        <br><br><br>
      </section>
      <!--end about Teddy's-->

      <!--types of Teddy's 2-->
      <section class="types-of-teddys-square-2 font-color d-flex align-items-center flex-column bg-color" aria-label="Types of Teddy's 2">
        <section class="w-570 h-70 white-bg-color d-flex justify-content-center align-items-center mt--35 br-36 border">
          <img src="../favicon.ico" alt="Flower image" width="50" height="50">
          <span class="fs-36 font-color fst-italic">&nbsp;I Peluche più ricercati</span>
        </section>
        <br>

      <!--buy Teddy's 2-->
      <section class="buy-teddys-square-2 font-color d-flex align-items-center justify-content-center flex-column bg-color w-100" aria-label="Buy Teddy's 2">
        <section class="cards d-flex w-100 justify-content-evenly g-50 p-10 font-color" aria-label="Buy Teddy's 2 cards">
          <div class="card white-bg-color h-375 w-300 d-flex flex-column white-border br-28 box-shadow">
            <img src="../img/image-10.png" alt="Aria image" width="100%" height="250" class="bg-color br-28-pers"/>
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <span class="fs-20 font-weight-bold-500">Aria- 11.5 Farfalla</span>
              <p class="fs-16 d-flex g-10"><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-half border-color"></i><i class="bi bi-star"></i></p>
              <p class="fs-20 font-weight-bold">$35</p>
            </div>
          </div>
          <div class="card white-bg-color h-375 w-300 d-flex flex-column white-border br-28 box-shadow">
            <img src="../img/image-11.png" alt="Blaze image" width="100%" height="250" class="bg-color br-28-pers"/>
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <span class="fs-20 font-weight-bold-500">Blaze - 13.5 Drago</span>
              <p class="fs-16 d-flex g-10"><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-half border-color"></i><i class="bi bi-star"></i></p>
              <p class="fs-20 font-weight-bold">$25</p>
            </div>
          </div>
          <div class="card white-bg-color h-375 w-300 d-flex flex-column white-border br-28 box-shadow">
            <img src="../img/image-12.png" alt="Clover image" width="100%" height="250" class="bg-color br-28-pers"/>
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <span class="fs-20 font-weight-bold-500">Clover - 10.5 Lepre</span>
              <p class="fs-16 d-flex g-10"><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-half border-color"></i><i class="bi bi-star"></i></p>
              <p class="fs-20 font-weight-bold">$30</p>
            </div>
          </div>
          <div class="card white-bg-color h-375 w-300 d-flex flex-column white-border br-28 box-shadow">
            <img src="../img/image-13.png" alt="Jumbo image" width="100%" height="250" class="bg-color br-28-pers"/>
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <span class="fs-20 font-weight-bold-500">Jumbo - 10.5 Elefante</span>
              <p class="fs-16 d-flex g-10"><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-fill border-color"></i><i class="bi bi-star-half border-color"></i><i class="bi bi-star"></i></p>
              <p class="fs-20 font-weight-bold">$25</p>
            </div>
          </div>
        </section>
        <br><br>
        <button class="more-items-square brown-bg-color cursor-pointer white-color w-240 h-50 fs-18 font-weight-bold-500 d-flex justify-content-center align-items-center white-border br-29 box-shadow-2 transition">
          Esplora adesso
        </button>
        <br><br><br>
      </section>
      <!--end buy Teddy's 2-->
      </section>
      <!--end types of Teddy's2-->

      <!--tips-->
      <section class="tips font-color d-flex align-items-center justify-content-center flex-column bg-color w-100" aria-label="tips">
        <span class="fs-48"><img src="../img/heart.png" alt="heart image">&nbsp;"Aggiungi un tocco speciale al tuo peluche"</span>
        <section class="tips-cards h-700 d-flex justify-content-center flex-row w-100 g-20 p-10 font-color">
          <section class="section1 w-650 h-100 white-bg-color br-42 box-shadow border">
            <div class="image-1 w-100 h--50">
              <img src="../img/image-14.png" alt="Room image" width="100%" height="100%" class="object-fit-cover br-42-pers">
            </div>
            <div class="p-10 d-flex flex-column justify-content-between">
              <span class="fs-40">Regala un sorriso con la</span>
              <span class="fs-40">nostra Gift Card</span>
              <p class="fs-16 line-height">Vuoi fare un regalo ma non sai cosa scegliere? La nostra Gift Card è
                la soluzione perfetta! Con essa, il destinatario potrà scegliere il
                peluche che preferisce tra la nostra vasta selezione. Scegli
                l'importo, personalizza il biglietto d'auguri e rendi felice chi ami!
              </p>
              <span class="fs-16 font-weight-bold pt-2 cursor-pointer">Scopri di più ></span>
          </div>
          </section>

          <section class="section2 h-100 d-flex flex-column g-20">
            <section class="h-cal-50 w-700 white-bg-color br-19 box-shadow d-flex border">
              <div class="image-2 w--50 h-100">
                <img src="../img/image-15.png" alt="Room image" width="100%" height="100%" class="br-19-lf-pers">
              </div>
              <div class="w--50 h-100 p-10 d-flex flex-column justify-content-between blue-bg-color br-19-rg-pers">
                <span class="fs-24">Le offerte speciali</span>
                <span class="fs-24">della settimana</span>
                <p class="fs-15 line-height">Dai un'occhiata alle nostre offerte speciali! Troverai sconti imperdibili su alcuni dei nostri peluche più popolari. Ma affrettati, le offerte sono per tempo limitato!</p>
                <span class="fs-16 font-weight-bold pt-2 cursor-pointer">Scopri di più ></span>
              </div>
            </section>
            <section class="h-cal-50 w-700 white-bg-color br-19 box-shadow d-flex border">
              <div class="image-3 w--50 h-100">
                <img src="../img/image-16.png" alt="Room image" width="100%" height="100%" class="br-19-lf-pers">
              </div>
              <div class="w--50 h-100 p-10 d-flex flex-column justify-content-between pink-bg-color br-19-rg-pers">
                <span class="fs-24">Personalizza il tuo</span>
                <span class="fs-24">peluche con noi</span>
                <p class="fs-15 line-height">Vuoi rendere il tuo peluche ancora più speciale? Personalizzalo con il nome o la data! Offriamo un servizio di personalizzazione per molti dei nostri peluche, rendendoli unici e indimenticabili.</p>
                <span class="fs-16 font-weight-bold pt-2 cursor-pointer">Scopri di più ></span>
            </div>
            </section>
          </section>
        </section>
        <br><br><br>
      </section>
      <!--end tips-->

      <!--customers-->
      <section class="customers blue-bg-color font-color d-flex justify-content-center align-items-center flex-column" aria-label="Customers">
        <section class="w-570 h-70 white-bg-color d-flex justify-content-center align-items-center mt--35 br-36 border">
          <img src="../img/heart.png" alt="Heart image" width="55" height="50">
          <span class="fs-36 font-color fst-italic">&nbsp;Opinioni dei nostri clienti</span>
        </section>
        <br>
        <section class="cards d-flex w-100 justify-content-evenly g-50 p-10 font-color" aria-label="Customers cards">
          <div class="card white-bg-color h-200 w-420 d-flex flex-column p-3 border justify-content-around br-28 box-shadow">
            <p class="fs-18">“Questo peluche è fantastico! La qualità del materiale è eccezionale e la sua morbidezza lo rende perfetto per abbracciare”</p>

            <div class="customers-name d-flex align-items-center g-10">
              <span class="fs-36 br-50 border-1px d-flex justify-content-center align-items-center w-60 h-60">M</span>
              <div class="line-height">
                <p class="fs-16 font-weight-bold">Maria Cipollari</p>
                <p class="fs-14">Casalinga, mamma</p>
              </div>
            </div>
          </div>
          <div class="card white-bg-color h-200 w-420 d-flex flex-column p-3 border justify-content-around br-28 box-shadow">
              <p class="fs-18">"Non sono soddisfatto di questo peluche. Il materiale sembra economico e la cucitura è piuttosto approssimativa”</p>

              <div class="customers-name d-flex align-items-center g-10">
                <span class="fs-36 br-50 border-1px d-flex justify-content-center align-items-center w-60 h-60">C</span>
                <div class="line-height">
                  <p class="fs-16 font-weight-bold">Claudio Boldi</p>
                  <p class="fs-14">Operaio, genitore</p>
                </div>
              </div>
          </div>
          <div class="card white-bg-color h-200 w-420 d-flex flex-column p-3 border justify-content-around br-28 box-shadow">
              <p class="fs-18">“Il peluche stesso è di alta qualità, con dettagli ben curati e una consistenza morbida e soffice. Consiglio vivamente questo negozio!"</p>

              <div class="customers-name d-flex align-items-center g-10">
                <span class="fs-36 br-50 border-1px d-flex justify-content-center align-items-center w-60 h-60">J</span>
                <div class="line-height">
                  <p class="fs-16 font-weight-bold">Jessica Merla</p>
                  <p class="fs-14">Pensionata, nonna</p>
                </div>
              </div>
          </div>
        </section>

        <section class="points d-flex g-10" aria-label="Slide points">
          <i class="bi bi-circle-fill fs-10 selected"></i>
          <i class="bi bi-circle-fill fs-10"></i>
          <i class="bi bi-circle-fill fs-10"></i>
          <i class="bi bi-circle-fill fs-10"></i>
          <i class="bi bi-circle-fill fs-10"></i>
        </section>
        <br><br><br>
      </section>
      <!--end customers-->

      <!--footer-->
      <footer class="pink-bg-color h-630 font-color d-flex justify-content-between align-items-center flex-column">
        <section class="footer-header d-flex justify-content-between pt-2 footer-header-border w-90 h-fit-content p-footer">
          <div class="line-height">
            <span class="fs-36 font-weight-bold-500">TeddyShop Newsletter</span>
            <p class="fs-16">Resta aggiornato sulle ultime novità, promozioni e offerte speciali.</p>
          </div>
          <form action="" class="d-flex flex-column g-20">
            <div class="d-flex g-10">
              <input type="email" name="" id="" placeholder="inserisci la tua email" class="p-3 form-border outline-none fs-16">
              <button class="white-color brown-bg-color p-3 w-165 form-border cursor-pointer fs-16">Isciviti adesso</button>
            </div>
            <a href="#" class="fs-12 font-color">Iscrivendoti accetti la nostra Privacy Policy</a>
          </form>
        </section>

        <section class="footer-menu d-flex justify-content-between pt-2 w-90 h-fit-content p-footer">
          <li class="list-style-none">
            <ul class="fs-18 font-weight-bold lh-footer">Per aiutare</ul>
            <ul class="lh-footer">Consegna</ul>
            <ul class="lh-footer">Ritorno</ul>
            <ul class="lh-footer">Domande frequenti</ul>
            <ul class="lh-footer">Pagamento sicuro</ul>
            <ul class="lh-footer">Privacy e sicurezza</ul>
          </li>

          <li class="list-style-none">
            <ul class="fs-18 font-weight-bold lh-footer">Chi siamo</ul>
            <ul class="lh-footer">La nostra storia</ul>
            <ul class="lh-footer">Sicurezza e idonetà</ul>
            <ul class="lh-footer">Generali T $ C</ul>
            <ul class="lh-footer">Commercio equo</ul>
            <ul class="lh-footer">Mappa del sito</ul>
          </li>

          <li class="list-style-none">
            <ul class="fs-18 font-weight-bold lh-footer">Commercio</ul>
            <ul class="lh-footer">Rivenditori esterni</ul>
            <ul class="lh-footer">Diventa un rivenditoore</ul>
            <ul class="lh-footer">Fiere e Convegni</ul>
            <ul class="lh-footer">Termini e condizioni</ul>
            <ul class="lh-footer">Pubbliche relazioni</ul>
          </li>

          <li class="list-style-none">
            <ul class="fs-18 font-weight-bold lh-footer">Supporto</ul>
            <ul class="lh-footer">Il mio conto</ul>
            <ul class="lh-footer">Contattaci</ul>
            <ul class="lh-footer">Spedizione</ul>
            <ul class="lh-footer">Spedizione estiva</ul>
            <ul class="lh-footer">Richiamare</ul>
          </li>

          <li class="list-style-none">
            <ul class="fs-18 font-weight-bold lh-footer">Social</ul>
            <ul class="lh-footer">Instagram</ul>
            <ul class="lh-footer">Facebook</ul>
            <ul class="lh-footer">Twitter</ul>
            <ul class="lh-footer">You Tube</ul>
            <ul class="lh-footer">Pinterest</ul>
          </li>
        </section>

        <section class="footer-teddy-shop d-flex justify-content-between align-items-center w-100 h-110 white-bg-color p-10">
          <section class="d-flex align-items-center">
            <!--logotype-->
            <img src="../favicon.ico" alt="logotype" width="50" height="50" />
            <!--logotype name-->
            <div class="aligned-text d-flex justify-content-between flex-column fst-italic fs-24 font-weight-bold font-color">
              <span class="text-start">Teddy</span>
              <span class="text-end">Shop</span>
            </div>
          </section>
          <section class="copyright">
            <span class="fs-16">© 2023 TeddyShop. Tutti i diritti riservati.</span>
          </section>
        </section>
        
      </footer>
      <!--end footer-->
    </main>
    <!--end main-->
  </body>
</html>
<!--links JavaScript-->
<script src="../scripts/dots.js" defer></script>
<script src="../scripts/nav.js" defer></script>
