/*general classes*/

/*---------display flex----------*/
.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.flex-column {
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.flex-grow{
  flex-grow: 1;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.g-50{
  gap: 50px;
}

.g-10{
  gap: 10px;
}

.g-20{
  gap: 20px;
}

/*---------end display flex----------*/

/*---------padding----------*/
.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-3{
  padding: 1rem;
}

.p-10 {
  padding: 2.5rem;
}

.p-20{
  padding: 20px;
}

.pl-40{
  padding-left: 40px;
}

.pt-2{
  padding-top: 0.5rem;
}

.p-footer{
  padding: 3rem 0 3rem 0;
}

/*---------end padding----------*/

/*---------height----------*/

.line-height{
  line-height: 1.6;
}

.h-110{
  height: 110px;
}

.h-40{
  height: 40px;
}

.h-93{
  height: 93px;
}

.h-60{
  height: 60px;
}

.h-375{
  height: 375px;
}

.h-520{
  height: 520px;
}

.h-100{
  height: 100%;
}

.h--50{
  height: 50%;
}

.h-700{
  height: 700px;
}

.h-100-vh{
  height: 100vh;
}

.h-160-vh{
  height: 160vh;
}

.h-70{
  height: 70px;
}

.h-50{
  height: 50px;
}

.h-fit-content{
  height: fit-content;
}

.h-200{
  height: 200px;
}

.h-cal-50{
  height: calc(50% - 10px);
}

.h-630{
  height: 630px;
}

.lh-footer{
  line-height: 2.5;
}

/*---------end height----------*/


/*---------text----------*/
.text-start {
  text-align: left;
}

.text-end {
  text-align: right;
}

.text-center {
  text-align: center;
}

/*---------end text----------*/

/*---------font-weight----------*/
.font-weight-bold {
  font-weight: 600;
}

.font-weight-bold-500 {
  font-weight: 500;
}

/*---------end font-weight----------*/

/*---------font-size----------*/
.fs-12{
  font-size: 12px;
}

.fs-15{
  font-size: 15px;
}

.fs-14{
  font-size: 14px;
}

.fs-16{
  font-size: 16px;
}

.fs-18{
  font-size: 18px;
}

.fs-20{
  font-size: 20px;
}

.fs-22{
  font-size: 22px;
}

.fs-24{
  font-size: 24px;
}

.fs-48{
  font-size: 48px;
}

.fs-36{
  font-size: 36px;
}

.fs-10{
  font-size: 10px;
}

.fs-40{
  font-size: 40px;
}

/*---------end font-size----------*/

/*---------width----------*/
.w-100{
  width: 100%;
}

.w-165{
  width: 165px;
}

.w-60{
  width: 60px;
}

.w-700{
  width: 700px;
}

.w-131{
  width: 131px;
}

.w-300{
  width: 300px;
}

.w-420{
  width: 420px;
}

.w-480{
  width: 480px;
}

.w-580{
  width: 580px;
}

.w-570{
  width: 570px;
}

.w-240{
  width: 240px;
}

.w-380{
  width: 380px;
}

.w-90{
  width: 90%;
}

.w-50{
  width: 50px;
}

.w--50{
  width: 50%;
}

/*---------end width----------*/


/*---------color----------*/
.white-color{
  color: var(--white-color);
}

.border-color{
  color: var(--border-color);
}

.font-color{
  color: var(--font-color);
}

/*---------end color----------*/

/*---------background-color----------*/
.white-bg-color{
  background-color: var(--white-color);
}

.brown-bg-color{
  background-color: var(--brown-btn-color);
}

.blue-bg-color{
  background-color: var(--blue-bg-color);
}

.bg-transparent {
  background-color: transparent;
}

.blue-btn-color{
  background-color: var(--blue-btn-color);
}

.pink-bg-color{
  background-color: var(--pink-bg-color);
}

.pink-color{
  color: var(--pink-bg-color);
}

.bg-color{
  background-color: var(--bg-color);
}

/*---------end background-color----------*/

/*---------border radius----------*/
.br-50{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.br-36{
  border-radius: 36px;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  -ms-border-radius: 36px;
  -o-border-radius: 36px;
}

.br-28{
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
}

.br-29{
  border-radius: 29px;
  -webkit-border-radius: 29px;
  -moz-border-radius: 29px;
  -ms-border-radius: 29px;
  -o-border-radius: 29px;
}

.br-28-pers{
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
}

.br-42{
  border-radius: 42px;
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  -ms-border-radius: 42px;
  -o-border-radius: 42px;
}

.br-19{
  border-radius: 19px;
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  -ms-border-radius: 19px;
  -o-border-radius: 19px;
}

.br-19-rg-pers{
  border-top-right-radius: 19px;
  border-bottom-right-radius: 19px;
}

.br-19-lf-pers{
  border-top-left-radius: 19px;
  border-bottom-left-radius: 19px;
}

.br-42-pers{
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
}

.br-60-pers{
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.br-71{
  border-radius: 71px;
  -webkit-border-radius: 71px;
  -moz-border-radius: 71px;
  -ms-border-radius: 71px;
  -o-border-radius: 71px;
}

/*---------end border radius----------*/

/*---------border----------*/
.footer-header-border{
  border-bottom: 5px solid var(--border-color);
}

.form-border{
  border: 1px solid var(--font-color);
}

.border{
  border: 3px solid var(--border-color);
}

.white-border{
  border: 3px solid var(--white-color);
}

.border-1px{
  border: 1px solid var(--border-color);
}

.border-none{
  border: none;
}

.bt{
  border-top: 3px solid var(--white-color);
}

/*---------end border----------*/

/*---------position----------*/
.position-absolute{
  position: absolute;
}

.position-fixed{
  position: fixed;
}

/*---------end position----------*/

/*---------margin----------*/
.m-t{
  margin-top: 1rem;
}

.m-b{
  margin-bottom: 1rem;
}

/*---------end margin----------*/

/*---------others----------*/
.fst-italic{
  font-style: italic;
}

.list-style-none{
  list-style: none;
}

.outline-none{
  outline: none;
}

.object-fit-cover{
  object-fit: cover;
}

.box-shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.box-shadow-2{
  box-shadow: 0px 4px 0 0px rgb(161, 161, 161);
}

.mt--35{
  margin-top: -35px;
}

.bottom-0{
  bottom: 0;
}

.cursor-pointer{
  cursor: pointer;
}

.m-l{
  margin-left: -150px;
}

.transition{
  transition: background-color 1s ease;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
}

/*---------end others----------*/
