/*---footer----*/
.footer-menu ul li {/*footer ul*/
    cursor: pointer;
    transition: color 0.3s;
    position: relative;
  }
  .footer-menu ul li::after {/*footer ul after*/
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 95%;
    height: 2px;
    background-color: var(--brown-btn-color);
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s;
  }
  .footer-menu ul li:hover::after {/*footer ul hover*/
    transform: translateX(-50%) scaleX(1);
  }
  .footer-menu button:hover {/*footer button hover*/
    background-color: var(--brown-btn-color);
  }
  /*---end footer----*/