/*---logotype----*/
.logo {/*logo*/
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo:hover {/*logo hover*/
  transform: scale(1.1);
  filter: drop-shadow(1px 1px 1px gray);
}

.logo img {/*logo image*/
  transition: transform 0.3s ease;
}

.logo:hover img {/*logo image hover*/
  transform: rotate(15deg);
}

/*---end logotype----*/
