#error-message{/*error message color*/
  color: var(--red-color);
}

/*---success message----*/
#success-message {/*success message background*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: #00000054;
}

#success-message p {/*success message text*/
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.circle {/*animated circle*/
  border: 10px solid transparent;
  animation: borderAnimation 1.5s linear forwards;
}

@keyframes borderAnimation {/*animation*/
  0% {
    border-color: transparent;
  }
  25% {
    border-top-color: var(--green-color);
  }
  50% {
    border-top-color: var(--green-color);
    border-right-color: var(--green-color);
  }
  75% {
    border-top-color: var(--green-color);
    border-right-color: var(--green-color);
    border-bottom-color: var(--green-color);
  }
  100% {
    border-color: var(--green-color);
  }
}
/*---end success message----*/
