/*---nav mobile----*/
@media (max-width: 1290px) {
  #nav {/*nav*/
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    transition: height 0.3s ease;
    -webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
    -ms-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
}

  .logo-square {/*logo square*/
    justify-content: space-between;
    width: 100%;
  }

  .nav-links {/*links*/
    height: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }

  .nav-links-btn {/*links btn*/
    margin: 20px;
  }

  .nav-links,/*hiding items*/
  nav > button:not(.bi-list),
  .icon {
    display: none;
  }

  .nav-links.expanded,/*showing items*/
  nav > button.expanded {
    display: flex;
  }

  .bi-list {/*showing menu btn*/
    display: block;
  }

  .mobile-icons,/*icons*/
  .mobile-icons li {
    display: flex;
    z-index: 100;
  }

  nav.expanded {/*nav new height*/
    height: calc(100vh - 40px - 50px);/*header= 40px; bottom icons= 50px*/
  }
}

/*---max-height: 640px----*/
@media(max-height: 640px){
  nav.expanded {/*nav new height*/
    height: auto;
  }
}

/*---end nav mobile----*/
