/*---nav----*/
nav li ul {/*nav ul*/
  cursor: pointer;
  transition: color 0.3s;
  position: relative;
}
nav li ul::after {/*nav ul after*/
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 95%;
  height: 2px;
  background-color: var(--brown-btn-color);
  transform: translateX(-50%) scaleX(0);
  transition: transform 0.3s;
}
nav li ul:hover::after {/*nav ul hover*/
  transform: translateX(-50%) scaleX(1);
}
nav button:hover {/*nav button hover*/
  background-color: var(--brown-btn-color);
}
/*---end nav----*/
