/*---spring-square mobile----*/
@media (max-width: 1290px) {
    .spring-square{/*spring-square*/
        width: 100%;
        padding: 0 10px 0 10px;
    }

    .spring-square span:last-child{/*spring-square last-child*/
        font-size: 20px;
    }
}

/*---end spring-square mobile----*/
