/*---------------general---------------*/
@import url(../styles/class.css);
@import url(../styles/loading.css);
@import url(../styles/vars.css);
@import url(../styles/message.css);

/*---------------web---------------*/
@import url(../styles/nav.css);
@import url(../styles/more-items-square.css);

/*---------------mobile---------------*/
@import url(../styles/nav-mobile.css);
@import url(../styles/header-mobile.css);
@import url(../styles/offer-banner-mobile.css);
@import url(../styles/types-of-teddys-mobile.css);
@import url(../styles/big-button-mobile.css);
@import url(../styles/about-teddys-mobile.css);
@import url(../styles/buy-teddys-mobile.css);
@import url(../styles/tips-mobile.css);
@import url(../styles/customers-mobile.css);
@import url(../styles/footer-mobile.css);


* {/*initial settings*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body{
    overflow: hidden;/*when the page loads*/
}

html, body, main {/*general*/
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}