:root{/*colors*/
    --white-color: #fff;
    --bg-color: #f7f2ec;
    --blue-bg-color: #e1ede9;
    --blue-btn-color: #89d3d2;
    --pink-bg-color: #f0dacd;
    --brown-btn-color: #bf8b70;
    --border-color: #c9b079;
    --font-color: #29180f;
    --header-font-color: #000000d1;
}
